* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#section-superior {
  height: 50vh;
}

#section-inferior {
  height: 50vh;
  background-color: crimson;
}

#section-formulario {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#container-formulario {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.7) ;
  border-radius: 20px;
}

#container-imagens {
  display: flex;
  justify-content: center;
  width: 100%;
}

form {
  width: 400px;
}

form button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: crimson;
  color: white;
  opacity: 0.8;
  font-size: 20px;
}

form button:hover {
  opacity: 1;
  font-size: 25px;
}

#container-button {
  display: flex;
  justify-content: flex-end;
}

#visor {
  background-color: rgba(220, 20, 60, 0.4);;
  height: 75px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
}

#container-inputs-numeros {
  display: flex;
  padding: 10px;
}

#divisor {
  flex: 2;
}

#container-inputs-numeros input {
  flex: 10;
  height: 30px;
  border-radius: 20px;
  border: none;
  background-color: rgb(220, 20, 60);
  color: #ffffff;
  text-align: center;
}

#container-inputs-numeros input:hover {
  background-color: teal;
}

::placeholder {
  padding: 20px;
  text-align: center;
}

#operacoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 0px 0px 20px 20px;
}

#operacoes button {
  border-radius: 50%;
  background-color: crimson;
  height: 75px;
  width: 75px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 50px;
  height: 50px;
}

#operacoes button:hover {
  background-color: teal;
}

#resultado {
  font-size: 30px;
  font-weight: bold;
}

h1 {
  font-family: 'Lobster Two', cursive;
  font-size: 30px;
  color: crimson;
  margin-top: -50px;
}
